.search-box-container {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    /* background-color: #f0f0f0; */
}
.input {
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #383838;
    font-size: 1rem;

    width: 50%;

}
.results-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 5%;
    /* flex: 1; */
    /* max-height: 200px; */

    
    /* border: 1px solid #96bfc6; */
    background-color: #2e2e2e;
    border-radius: 25px;
    padding: 5%;
}

.results-info {

    width: 100%;
    /* flex: 1; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);


}

.results-item-image {
    grid-column: 1;
    grid-row: 2 / 4;
    max-width: 250px;
    max-height: 250px;
}
.results-item-name {
    grid-column: 1 / span 3;
    grid-row: 1;
    background-color: #4660e3;;
}
.results-item-type {
    grid-column: 2 / span 2;
    grid-row: 2;
    background-color: #4660e3;;
}