.search-box-container {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    /* background-color: #f0f0f0; */
}
.input {
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #383838;

    width: 50%;

}
.results-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}