.search-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #383838;

}